

.app>.header {
    flex-direction: row;
    height: 50px;
}

.app>.footer {
    flex-direction: row;
    height: 50px;
    justify-content: flex-end;
}

.waveview {
    background-color: red;
    flex-grow: 1.0;
}

button {
    text-justify: center;
    color: white;
}

button.open {
    height: 30px;
    width: 100px;
    background-color: #ff5e1a;
    border-radius: 3px;
}

button.open:hover {
    background-color: #ff7033;
}

label.info {
    width: 110px;
    height: 30px;
    color: white;
    text-justify: left;
}

radio_list {
    margin: 10px;
    flex-direction: row;
    align-self: flex-start;
}

radio_list>radio_button {
    height: 30px;
    width: 40px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
    text-justify: center;
}

radio_list>radio_button:hover {
    background-color: #696969;
}

radio_list>radio_button:checked {
    background-color: #ff5e1a;
}

.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.transport>button.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.transport>button.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.transport {
    flex-direction: row;
    margin: 10px;
}

.transport>button {
    width: 40px;
    height: 30px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
}

.transport>checkbox {
    width: 40px;
    height: 30px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
}

.transport>button.play {
    color: #ff5e1a;
}

.zoom_controls {
    margin: 10px;
    flex-direction: row;
}

.zoom {
    width: 30px;
    height: 30px;
    background-color: #5a5a5a;
}

.zoom:hover {
    background-color: #696969;
}

.zoom:checked {
    background-color: #ff5e1a;
}


dropdown.zoom {
    width: 50px;
}

dropdown.zoom label {
    text-justify: center;
}

dropdown>.container {
    bottom: 100%;
}

dropdown>.container>radio_list {
    margin: 0px;
}

dropdown>.container>radio_list>radio_button {
    width: 50px;
}

label.zoom {
    width: 50px;
    text-justify: center;
}