

.app>.header {
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.app>.footer {
    flex-direction: row;
    height: 50px;
    /* justify-content: flex-end; */
    align-items: center;
}

.waveview {
    flex-grow: 1.0;
}

button {
    text-justify: center;
    color: white;
}

button.open {
    height: 30px;
    width: 100px;
    background-color: #ff5e1a;
    border-radius: 3px;
}

button.open:hover {
    background-color: #ff7033;
}

button.open:active {
    background-color: #cc3d00;
}

label.timecode {
    width: 200px;
    height: 30px;
    color: white;
    text-justify: left;
    font-size: xx-large
}

label.info {
    width: 100px;
    height: 30px;
    color: white;
    text-justify: left;
}

radio_list {
    margin: 10px;
    flex-direction: row;
    align-self: flex-start;
}

radio_list>radio_button {
    height: 30px;
    width: 40px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
    text-justify: center;
}

radio_list>radio_button:hover {
    background-color: #696969;
}

radio_list>radio_button:checked {
    background-color: #ff5e1a;
}

.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.transport>button.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.transport>button.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.transport {
    flex-direction: row;
    margin: 10px;
}

.transport>button {
    width: 40px;
    height: 30px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
}

.transport>button:hover {
    background-color: #696969;
}

.transport>button:active {
    background-color: #454545;
}

/* .transport>checkbox {
    width: 40px;
    height: 30px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
} */

/* .transport>checkbox:hover {
    background-color: #696969;
} */

.transport>checkbox:active {
    background-color: #454545;
}

/* .transport>button.play {
    color: #ff5e1a;
} */

.zoom_controls {
    margin: 10px;
    flex-direction: row;
}

.zoom {
    width: 30px;
    height: 30px;
    background-color: #5a5a5a;
}

.zoom:hover {
    background-color: #696969;
}

.zoom:checked {
    background-color: #ff5e1a;
}


dropdown.zoom {
    width: 50px;
}

dropdown.zoom label {
    text-justify: center;
}

dropdown>.container {
    bottom: 100%;
}

dropdown>.container>radio_list {
    margin: 0px;
}

dropdown>.container>radio_list>radio_button {
    width: 50px;
}

label.zoom {
    width: 50px;
    text-justify: center;
}

slider.volume {
    margin: 10px;
    width: 100px;
    /* flex-grow: 1.0; */
    height: 4px;
    border-radius: 2px;
    background-color: #646464;
}

slider.volume>.active {
    background-color: #f74c00;
    border-radius: 2px;
}

slider.volume>.thumb {
    background-color:#ff5e1a;
    border-radius: 9.5px;
}

checkbox {
    width: 40px;
    height: 30px;
    background-color: #5a5a5a;
}

checkbox.snap {
    border-radius: 3px;
}

checkbox.loop {
    border-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

checkbox:hover {
    background-color: #646464;
}

checkbox.loop:checked {
    background-color:#ff5e1a;
}

checkbox.snap:checked {
    background-color:#ff5e1a;
}



.navigator_window {
    background-color: gray;
    opacity: 0.5;
}

level_bar {
    padding: 2px;
    justify-content: flex-end;
}

level_bar>.front {
    background-color: #253175;
    height: 100%;

}

button:focus {
    border-width: 2px;
    border-color: black;
}