

.header {
    flex-direction: row;
    height: 50px;
}

.footer {
    flex-direction: row;
    height: 50px;
    justify-content: flex-end;
}

.waveview {
    background-color: red;
    flex-grow: 1.0;
}

button {
    text-justify: center;
    color: white;
}

button.open {
    height: 30px;
    width: 100px;
    background-color: #ff5e1a;
    border-radius: 3px;
}

button.open:hover {
    background-color: #ff7033;
}

label {
    width: 110px;
    height: 30px;
    color: white;
    text-justify: left;
}

.checklist {
    margin: 10px;
    flex-direction: row;
    align-self: flex-start;
}

.checklist>button {
    height: 30px;
    width: 40px;
    background-color: #5a5a5a;
    color: white;
    border-radius: 0px;
}

.checklist>button:hover {
    background-color: #696969;
}

.checklist>button:checked {
    background-color: #ff5e1a;
}

button.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

button.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.checklist>button.play {
    color: #ff5e1a;
}

.zoom_controls {
    margin: 10px;
    flex-direction: row;
}

.zoom {
    width: 30px;
    height: 30px;
    background-color: #5a5a5a;
}

.zoom:hover {
    background-color: #696969;
}

label.zoom {
    width: 50px;
    text-justify: center;
}